@import 'materialize-css';

.Expositor {
  margin-top: 1.5em;
  &__image {
    background-position: center;
    background-size: cover;
    height: 130px;
    width: 130px;
    border-radius: 100px;
    transition: all 0.4s;
    margin: 0 auto;
    @extend .z-depth-1;
  }

  &__image:hover {
    border-radius: 0;
    @extend .z-depth-3;
  }

  &__containerText {
    margin-top: 1em;
    text-align: center;
  }
}
